@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px; /* adjust based on navbar height */
}

#features {
  background: "yellow";
  height: "150vh";
}
